*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

h1{
  margin-top: 1rem;
  text-align: center;
  font-size: 25px;
  color: rgb(107, 70, 0);
}

.top{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input{
  border: none;
  outline: none;
  width: 400px;
  padding: 0.5rem;
  border-bottom: 1px solid #000;
}

.add{
  background-color: #000;
  color: aliceblue;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.todo{
  position: relative;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 5px;
}

.icons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon{
  cursor: pointer;
  font-size: 20px;
}










/* new form 1 */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  background-color: rgb(107, 70, 0);
  width: 100%;
  border: 0;
  color: #cfa677;
  padding: 10px;
  font-family:Arial, Helvetica, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* App.js home */
.home {
  display: grid;
  grid-template-columns: 4fr 10fr;
  gap: 10px;
}


/* all payment table */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #adacac;
} */

table {
  margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
}

/* .header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
} */

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: rgb(107, 70, 0);
    color: #cfa677;
    font-size: 12px;
}

th,
td {
    border-bottom: 1px solid #cfa677;
    padding: 10px 20px;
    font-size: 14px;
}

/* td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
} */

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #cfa677;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(107, 70, 0);
    color: #cfa677;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
